* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

ul {
    list-style: none;
}

li {
    font-size: 1.25em;
}

.color-acento {
    color: red;
}

body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid (0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px black;
    color: white;
    background-color: red;
}

button:hover {
    background-color: rgb(150, 35, 35);
}

.container {
    max-width: 1400px;
    margin: auto;
}

header {
    background-color: rgb(245, 245, 245)
}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: red;
    font-size: 1.6em;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover {
    color: red;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
    height: 100vh;
    background-image: linear-gradient( 0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/programar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1 {
    color: white;
}

#hero button {
    font-size: 1.75;
}

#somosproya {
    background-color: rgb(245, 245, 245);
}

#somosproya .container {
    text-align: center;
    padding: 200px 12px;
}

#nuestrosprogramas {
    background-color: black;
    text-align: center;
    color: white;
}

#nuestrosprogramas .container {
    padding: 150px 0px;
}

#nuestrosprogramas p {
    display: none;
}

#nuestrosprogramas h2 {
    font-size: 3.2em;
    margin-top: 0;
}

#nuestrosprogramas .carta1 {
    background-image: linear-gradient( 0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/html.png);
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

#nuestrosprogramas .carta2 {
    background-image: linear-gradient( 0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/css.jpeg);
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

#nuestrosprogramas .carta3 {
    background-image: linear-gradient( 0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/js.png);
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

#nuestrosprogramas .carta4 {
    background-image: linear-gradient( 0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/java.png);
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

#nuestrosprogramas .carta5 {
    background-image: linear-gradient( 0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/python.png);
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

#aplicaya {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(245, 245, 245);
    color: black;
    height: 80vh;
}

#aplicaya .h2 {
    font-size: 3em;
}

#aplicaya .buttom {
    font-size: 1.75em;
}

footer {
    background-color: black;
    color: white;
}

footer .container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer img {
    width: 48px;
    height: 48px;
}

footer a {
    padding: 20px;
}

@media (min-width:720px) {
    header {
        position: fixed;
        width: 100%;
    }
    header .container {
        flex-direction: row;
        justify-content: space-between;
    }
    header .nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    #somosproya .container {
        justify-content: space-evenly;
        display: flex;
    }
    #somosproya .texto {
        width: 50%;
        text-align: initial;
        padding: 0px 30px;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding left: 50px;
    }
    #somosproya .img-container {
        background-image: url(../img/Ale.jpg);
        background-size: cover;
        background-position: center center;
        height: 400px;
        width: 200px;
    }
    #somosproya h2 {
        margin-top: 0;
    }
    #nuestrosprogramas .programas {
        display: flex;
        justify-content: center;
    }
    #nuestrosprogramas p {
        display: block;
        margin-bottom: 30px;
    }
    #nuestrosprogramas h3 {
        margin-top: 0;
    }
    #nuestrosprogramas .carta1 {
        padding: 15px;
    }
    #nuestrosprogramas .carta2 {
        padding: 15px;
    }
    #nuestrosprogramas .carta3 {
        padding: 15px;
    }
    #nuestrosprogramas .carta4 {
        padding: 15px;
    }
    #nuestrosprogramas .carta5 {
        padding: 15px;
    }
}